<template id="link-lista-pacientes">
  <link rel="stylesheet" href="app/client/assets/css/lista-paceintes.css">
  <section class="lista-pacientes wrapper">
    <div class="lista-pacientes__header">
      <h2 class="title gray-dark" class="lista-pacientes__header__title">Lista de Pacientes</h2>
      <button type="button" data-section="link-form-pacientes" class="lista-pacientes__header__add-button btn btn-succes white">
        Cadastrar Paciente
      </button>
    </div>

    <div class="pesquisa center">
      <input id="pesquisa-pacientes" class="pesquisa__input" type="text" placeholder="Procure um paciente por Nome">
    </div>
    <div>
      <ul id="lista-pacientes"></ul>
    </div>
  </section>
  <script>
    require('./app/client/views/pacientes-list-view');
  </script>
</template>