.default-background {
    background-color: #7CA0C7;
}

.center {
    text-align: center;
}

.title {
    font-size: 1.56rem;
    line-height: 80%;
    margin: 1.78rem 0 1.424rem 0;
}

.breadcrumb {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.breadcrumb__item {
    color: #a1a1a1;
}

.active {
    color: #29b6f6;
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.wrapper {
    background-color: #fff;
    padding: 0.5rem 1rem;
}


/* Colors */

.bg--green {
    background-color: #4caf50;
}

.white {
    color: #ffff
}

.gray-dark {
    color: #424242;
}

.gray-a1 {
    color: #A1A1A1;
}

.light-blue {
    color: #29b6f6
}

.red {
    color: #e53935;
}

.red-bg {
    background-color: #e53935;
}