.lista-pacientes__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-pacientes__header__title {}

.lista-pacientes__header__add-button {
    border: none;
    height: 2rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.7rem;
}

.pesquisa {
    margin: auto;
}

.pesquisa__input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 0.5rem;
    height: 2rem;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.pesquisa__input:focus {
    outline: none;
    border-bottom: 1.5px solid #a1a1a1;
}

.paciente-item {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-top: 0.03rem solid #a1a1a1;
    padding: 0.7rem;
}

.paciente-item__paciente-info {
    flex-grow: 1;
}

.paciente-item__action {
    margin: auto;
}

.paciente-item__action-buttons {
    width: 1.3rem;
    height: 1.3rem;
}

.btn {
    background: none;
    border: none;
    margin: 1rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    font-weight: 900;
}

.red-bg {
    background-color: #e53935;
}

.blue-bg {
    background-color: #29b6f6;
}

.white {
    color: #ffffff;
}