.lista-pacientes {
    background-color: #fff;
    padding: 0.5rem 1rem;
}

.lista-pacientes__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-pacientes__header__title {}

.lista-pacientes__header__add-button {
    border: none;
    height: 2rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.7rem;
}


.pesquisa {
    margin: auto;
}

.pesquisa__input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 0.5rem;
    height: 2rem;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.pesquisa__input:focus {
    outline: none;
    border-bottom: 1.5px solid #a1a1a1;
}