.lista-pacientes-wrapper {
    overflow-y: scroll;
}

.lista-pacientes__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-pacientes__header__title {}

.lista-pacientes__header__add-button {
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.7rem;
    outline: none;
}

.pesquisa {
    margin: 0;
    margin-bottom: 1.5rem;
}

.pesquisa__input {
    width: 98%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 0.5rem;
    height: 2rem;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.pesquisa__input:focus {
    outline: none;
    border-bottom: 1.5px solid #a1a1a1;
}

.paciente-item {
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-top: 0.03rem solid #a1a1a1;
    padding: 0.7rem;
}

.paciente-item__paciente-info {
    flex-grow: 1;
}

.paciente-item__action {
    margin: auto;
}

.paciente-item__action-buttons {
    width: 1.3rem;
    height: 1.3rem;
}

.paciente-item__paciente-info__nome {
    font-size: 1.3rem;
    color: #4a4a4a;
    margin-bottom: 0.1rem;
}

.paciente-item__paciente-info__email {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.paciente-item__paciente-info__telefone {
    font-size: 1rem;
}