<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/header.css">
  <title>Document</title>
</head>

<body>

  <main class="container">
    <header class="header">
      <a href="./index.html" class="header__logo logo--link">
        <img src="../../assets/img/diagnes.png" alt="Logo marca da  Empresa Diagnes" class="header__logo-img">
      </a>
      <hr>
    </header>
    <section>
      <nav>
        <a href="./paciente-form.html">Novo Paciente</a>
      </nav>
    </section>
    Cadastro de pacientes
  </main>
  <br>
  <br>
  <div>
    <ul id="lista-pacientes"></ul>
  </div>
  <script>
    const $ = require('jquery');
  </script>
</body>

</html>