<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <main class="container">
    <header class="header">
      <div class="header__logo logo--link">Logo</div>
      <hr>
    </header>
    <section>
      <nav>
        <a href="./paciente-form.html">Novo Paciente</a>
      </nav>
    </section>
    Cadastro de pacientes
  </main>
  <br>
  <br>
  <div>
    <ul id="lista-pacientes"></ul>
  </div>
  <button id="btn-salvar">Salva</button>
  <script>
    const $ = require('jquery');
  </script>
</body>

</html>